@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.about {
  margin: 50px 0;

  .aboutContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 599px;
    border: 1px solid #cecdd2;
    border-radius: 8px;

    .aboutCards {
      height: 100%;
      overflow: hidden;

      .aboutCardsWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        animation: slide 30s linear infinite;

        .item {
          padding: 10px 30px;
          border-radius: 32px;
          color: #6944cb;
          background-color: #6944cb17;
          width: 424px;
          height: 55px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          p {
            font-size: 24px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
          }
        }
      }
    }

    .aboutText {
      width: 456px;
      text-align: justify;

      h5 {
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .about {
    border: 1px solid #cecdd2;
    .aboutContent {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      border: none;

      width: 100%;
      height: 438px;

      .aboutText {
        width: 325px;
        height: 238px;

        text-align: center;
      }

      .aboutCards {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        width: 375px;
        height: 60px;

        margin-bottom: 50px;

        overflow: hidden;

        .aboutCardsWrapper {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin-left: 10px;
          margin-top: 0;

          animation: slide 40s linear infinite;

          .item {
            padding: 10px 20px;

            width: 280px;
            height: 40px;

            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
