.buttonAll {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px;
  background-color: #6944cb;
  color: white;

  cursor: pointer;

  border: none;
  border-radius: 8px;
}

@media screen and (max-width: 376px) {

  .buttonAll{
    padding: 12px 6px;
  }
}