.contacts {
  margin-bottom: 100px;

  .contactsContent {
    display: flex;
    flex-direction: column;

    width: 100%;

    .contactsTitle {
      width: 754px;
    }

    .contactsMore {
      display: flex;
      flex-direction: row;

      p {
        font-size: 18px;
        font-weight: 400;
        font-family: "Inter", sans-serif;

        span {
          font-weight: 600;
        }
      }

      .contactInfo {
        display: flex;
        flex-direction: column;
        width: 539px;

        border-top: 1px solid #cecdd2;
      }

      .contactsForms {
        width: 669px;
        height: 765px;

        padding: 0 23px;

        border: 1px solid #cecdd2;
        border-radius: 20px;

        .contactForm {
          .labelUp {
            display: flex;
            flex-direction: column;
            padding: 5px;

            gap: 8px;

            font-size: 14px;
            font-weight: 600;
            font-family: "Inter", sans-serif;
            input {
              padding: 6px 16px;

              border-radius: 8px;
              border: 1px solid #1211271f;

              height: 52px;
            }
          }

          .contactButtonsTitle {
            p {
              font-size: 14px;
              font-weight: 600;
            }
          }
          .contactCheckboxButtons {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            .checkboxButtons {
              width: 182px;
              height: 40px;

              text-align: center;
              text-wrap: nowrap;

              padding: 9px 20px;
              border: 1px solid #1211271f;
              border-radius: 100px;
              cursor: pointer;
              background-color: transparent;
              color: #020210;
              transition: background-color 0.3s, color 0.3s;

              font-size: 12px;
              font-weight: 600;
              font-family: "Inter", sans-serif;
            }

            .checkboxButtons.checked {
              color: #6944cb;
              border: 1px solid #6944cb;
              background-color: #f7f5ff;
            }
          }

          .contactSubmit {
            margin-top: 25px;
            button {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .contactsTitle {
    width: 325px !important;
  }

  .contactsMore {
    flex-direction: column !important;

    h4 {
      font-size: 18px !important;
    }

    p {
      font-size: 14px !important;
      font-weight: 400;

      span {
        font-weight: 600;
      }
    }

    .contactInfo {
      width: 325px !important;
      padding: 20px 0 30px 0;
      border-bottom: 1px solid #cecdd2 !important;
    }

    .contactsForms {
      width: 325px !important;
      height: auto !important;

      border: none !important;
      padding: 20px 0 0 0 !important;
      margin-bottom: 50px;

      .contactForm {
        .labelUp {
          font-size: 12px !important;
        }

        .contactCheckboxButtons {
          gap: 10px !important;
          margin-bottom: 20px;

          .checkboxButtons {
            width: 156px !important;
          }
        }
      }
    }
  }
}
