.fifthLine {
  display: flex;
  gap: 20px;

  .cryptoExchange {
    background-image: url("../imgWeb3/GroupFifthLine1.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    width: 629px;
    height: 574px;

    position: relative;
  }

  .musicPlatform {
    background-image: url("../imgWeb3/GroupFifthLine2.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 629px;
    height: 574px;

    border-radius: 10px;
  }
  @import "../../styles/globalWeb.scss";
}

@media screen and (max-width: 780px) {
  .fifthLine {
    width: 100%;
    flex-direction: column;
    .cryptoExchange,
    .musicPlatform {
      width: 100%;
    }
  }
}
