.home {
  .homeContent {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    height: 574px;

    .homeText {
      width: 660px;
      height: 492px;

      span {
        color: #6944cb;
      }
      .homeSubtitle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        width: 400px;
        height: 220px;

        h4{
          font-size: 16px;
          font-weight: 700;
          margin: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .home {

    .homeContent{
      flex-direction: column-reverse;
      text-align: center;
      height: 613px;

      .homeImg{
        width: 325px;
        height: 301px;
      }

      .homeText{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 325px;
        height: 280px;

        .homeSubtitle{
          width: 248px;
          height: 280px;

          h4{
            font-size: 14px;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
