.seventhLine {
  display: flex;
  gap: 20px;

  .NFTMarketplace {
    background-image: url("../imgWeb3/GroupSeventhLine1.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    width: 629px;
    height: 574px;

    position: relative;
  }

  .crowdfundingPlatform {
    background-image: url("../imgWeb3/GroupSeventhLine2.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 629px;
    height: 574px;

    border-radius: 10px;
  }
  @import "../../styles/globalWeb.scss";
}
