.leadership {
  margin-bottom: 50px;
  .leadershipContent {
    .blockIndicators {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .successfulProjects,
    .experience,
    .capitalization,
    .percentageOfRecommendations {
      display: flex;
      align-content: space-around;

      align-items: center;
      flex-direction: column;
    }
    h1 {
      font-family: Disket Mono;
      font-size: 80px;
      font-weight: 700;
      line-height: 90.16px;
      text-align: left;
    }
    p {
      font-family: Inter;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.05px;
      text-align: center;
    }
  }
}
