.ourProject {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  padding: 40px 0;

  .headerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    .buttonPageWeb {
      display: flex;
      gap: 30px;
    }
  }
  .OurProjectContent {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
@media screen and (max-width: 376px) {
  .ourProject {
    display: none;
  }
}
