.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 387px;

  background-color: #020210;
  color: white;

  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footerNav {
      ul {
        display: flex;
        gap: 34px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          cursor: pointer;

          a {
            text-decoration: none;
            color: #FFFFFF;
            h5 {
              font-weight: normal;
            }
          }
        }
      }
    }

    .footerSocial {
      display: flex;
      align-items: center;
      gap: 30px;

      cursor: pointer;
    }

    .footerRulesText {
      h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;

        color: #ffffff8f;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .footer {
    height: 679px;

    .footerContent {
      justify-content: space-between;
      height: 550px;

      .footerLogo {
        width: 103px;
        height: 80px;
      }
      .footerNav {
        ul {
          display: flex;
          flex-direction: column;
          gap: 40px;

          li {
            text-align: center;
            h5 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
