.products {
  margin: 50px 0;

  .productsContent {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 600px;

    .productsTitle {
      width: 650px;
      height: 190px;
    }

    .productsCards {
      display: flex;

      width: 100%;
      height: 422px;

      gap: 27px;

      .productsCard {
        width: 410px;
        height: 390px;
        border-radius: 20px;
        padding: 25px;
        background-color: #f7f8fa;
        border: 1px solid #eaebef;

        .productsCardTitle {
          display: flex;
          justify-content: center;
          text-align: center;

          color: #fff;
          background-color: #6944cb;
          border-radius: 24px;

          margin: 0 0 35px 0;

          width: 368px;
          height: 90px;
          h4 {
            display: flex;
            align-items: center;
            font-size: 22px;
          }
        }
        .productsCardText {
          p {
            font-size: 14px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
          }
          span {
            display: block;
            width: 100%;
            border-bottom: 1px solid #020210;

            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .products {
    .productsContent {
      height: 1190px;

      .productsTitle{
        width: 325px;
        height: 140px;
      }
      .productsCards {
        flex-direction: column;

        height: 1065px;

        .productsCard{
          width: 319px;
          height: 330px;

          padding: 5px;

          .productsCardTitle{
            width: 278px;
            height: 73px;

            margin: 20px 20px 35px 20px;

            h4 {

              font-size: 16px;
            }
          }
          .productsCardText {
            p {
              font-size: 10px;

            }

          }
        }
      }
    }
  }
}
