.fifthLineWeb2 {
  display: flex;
  gap: 20px;

  .yvisionKz {
    background-image: url("../imgWeb2/GroupWeb2.5.1.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    width: 629px;
    height: 574px;
  }

  .zhiberKZ {
    background-image: url("../imgWeb2/GroupWeb2.5.2.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 629px;
    height: 574px;
  }
  @import "../../styles/globalWeb.scss";
}

@media screen and (max-width: 780px) {
  .fifthLineWeb2 {
    width: 100%;
    flex-direction: column;

    .zhiberKZ,
    .yvisionKz {
      width: 100%;
    }
  }
}
