.fourthLine {
  display: flex;
  gap: 20px;
  .infrastructureForBlockchainProjects {
    background-image: url("../imgWeb3/GroupFourthLine1.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    width: 629px;
    height: 574px;

 
  }
  .decentralizedCloudStorageAggregator {
    background-image: url("../imgWeb3/GroupFourthLine2.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 629px;
    height: 574px;


  }
  
  .text {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
  }
  .link {
    font-family: Disket Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
  }

  .title {
    font-family: Disket Mono;
    font-size: 34px;
    font-weight: 700;
    line-height: 38.32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}
