.sixthLine {
  display: flex;
  gap: 20px;

  .decentralizedWallet {
    background-image: url("../imgWeb3/GroupSixthLine2.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 837px;
    height: 573px;
  }

  .socialNetwork {
    background-image: url("../imgWeb3/GroupSixthLine1.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 419px;
    height: 573px;
  }
  @import "../../styles/globalWeb.scss";
}

@media screen and (max-width: 780px) {
  .sixthLine {
    width: 100%;
    flex-direction: column;

    .socialNetwork,
    .decentralizedWallet {
      width: 100%;
    }
  }
}
