.thirdLine {
  display: flex;
  gap: 20px;

  .astanaHub {
    background-image: url("../imgWeb3/GroupThirdLine1.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    width: 413px;
    height: 574px;
  }

  .euphoriaGames {
    background-image: url("../imgWeb3/GroupThirdLine2.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 413px;
    height: 574px;
    border-radius: 10px;
  }

  .uSTAKING {
    background-image: url("../imgWeb3/GroupThirdLine3.png");

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

    width: 413px;
    height: 574px;
    border-radius: 10px;
  }
  @import "../../styles/globalWeb.scss";
}

@media screen and (max-width: 780px) {
  .thirdLine {
    width: 100%;
    flex-direction: column;
    .astanaHub,
    .euphoriaGames,
    .uSTAKING {
      width: 100%;
    }
  }
}
